<section id="exercise_section" class="has-background-grey-dark">
	<div class="date_holder box has-background-grey-lighter"></div>
	<div class="box has-background-grey-lighter">
		<article>
			<div class="message-header accordion">
				<a>Exercise 1</a>
			</div>
			<div class="message-body">
				<div class="message-body-content box">
					<span style="font-weight:bolder; font-size:x-large">Exercise Name: </span> <input type="text">
				</div>
				<div class="message-body-content box">
					<span style="font-weight:bolder; font-size:x-large">Set 1: </span> weight: <input type="text"> reps:
					<input type="text">
				</div>
				<div class="message-body-content box">
					<span style="font-weight:bolder; font-size:x-large">Set 2: </span> weight: <input type="text"> reps:
					<input type="text">
				</div>
				<div class="message-body-content box">
					<span style="font-weight:bolder; font-size:x-large">Set 3: </span> weight: <input type="text"> reps:
					<input type="text">
				</div>
			</div>
		</article>
		<article>
			<div class="message-header accordion">
				<a>Exercise 2</a>
			</div>
			<div class="message-body">
				<div class="message-body-content box">
					<span style="font-weight:bolder; font-size:x-large">Exercise Name: </span> <input type="text">
				</div>
				<div class="message-body-content box">
					<span style="font-weight:bolder; font-size:x-large">Set 1:</span> weight: <input type="text"> reps:
					<input type="text">
				</div>
				<div class="message-body-content box">
					<span style="font-weight:bolder; font-size:x-large">Set 2:</span> weight: <input type="text"> reps:
					<input type="text">
				</div>
				<div class="message-body-content box">
					<span style="font-weight:bolder; font-size:x-large">Set 3:</span> weight: <input type="text"> reps:
					<input type="text">
				</div>
			</div>
		</article>
		<article>
			<div class="message-header accordion">
				<a>Exercise 3</a>
			</div>
			<div class="message-body">
				<div class="message-body-content box">
					<span style="font-weight:bolder; font-size:x-large">Exercise Name: </span> <input type="text"
						id="exercise_3_name">
				</div>
				<div class="message-body-content box">
					<span style="font-weight:bolder; font-size:x-large">Set 1:</span> weight: <input type="text"
						id="set1_ex3_weight"> reps: <input type="text" id="set1_ex3_reps">
				</div>
				<div class="message-body-content box">
					<span style="font-weight:bolder; font-size:x-large">Set 2:</span> weight: <input type="text"
						id="set2_ex3_weight"> reps: <input type="text" id="set2_ex3_reps">
				</div>
				<div class="message-body-content box">
					<span style="font-weight:bolder; font-size:x-large">Set 3:</span> weight: <input type="text"
						id="set3_ex3_weight"> reps: <input type="text" id="set3_ex3_reps">
				</div>
			</div>
		</article>
	</div>
	<div class="buttons is-centered box">
		<button id="submit_button" class="button is-normal is-responsive is-primary level-right">
			Submit Exercises
		</button>
	</div>
</section>


<script>
	let time = new Date().toLocaleDateString('en-us', { weekday: "long", year: "numeric", month: "short", day: "2-digit" });
	
	document.querySelector('.date_holder').textContent = time;


	let acc = document.getElementsByClassName("accordion");
	let i;

	for (i = 0; i < acc.length; i++) {
		acc[i].addEventListener("click", function () {
			/* Toggle between hiding and showing the active panel */
			let panel = this.nextElementSibling;
			if (panel.style.display === "none") {
				panel.style.display = "block";
			} else {
				panel.style.display = "none";
			}
		});
	}

	// Dev Get Exercise
	document.querySelector("#submit_button").addEventListener("click", (event) => {
		const ex3Name = document.querySelector("#exercise_3_name").textContent;
		const ex3Set1Weight = document.querySelector("#set1_ex3_weight").value;
		const ex3Set2Weight = document.querySelector("#set2_ex3_weight").value;
		const ex3Set3Weight = document.querySelector("#set3_ex3_weight").value;
		const ex3Set1Reps = document.querySelector("#set1_ex3_reps").value;
		const ex3Set2Reps = document.querySelector("#set2_ex3_reps").value;
		const ex3Set3Reps = document.querySelector("#set3_ex3_reps").value;
	

		
		console.log(ex3Name,ex3Set1Weight, ex3Set2Weight,ex3Set1Reps, ex3Set2Reps);

		const powerInfo3 = [{
			"set": 1,
			"reps": ex3Set1Reps,
			"weight": ex3Set1Weight
		},
		{
			"set": 2,
			"reps": ex3Set2Reps,
			"weight": ex3Set2Weight
		},
		{
			"set": 3,
			"reps": ex3Set3Reps,
			"weight": ex3Set3Weight
		}]


		console.log(powerInfo3);

		fetch('/api/exercise', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json',
			},
			body: JSON.stringify({
				exerciseName: ex3Name,
				date: time,
				powerInfo: powerInfo3,
			}),
		}).then((result) => {
			if (!result.ok) {
				document.getElementById("exercise_section").textContent = "Could not enter exercise";
			} else {
				window.location.replace('/');
			}
		});
	});


</script>

{{!-- 
const ex3Name = document.getElementById("exercise_3_name").value;
		const ex3Set1Weight = parseInt(document.getElementById("set1_ex3_weight").value);
		const ex3Set2Weight = parseInt(document.getElementById("set2_ex3_weight").value);
		const ex3Set3Weight = parseInt(document.getElementById("set3_ex3_weight").value);
		const ex3Set1Reps = parseInt(document.getElementById("set1_ex3_reps").value);
		const ex3Set2Reps = parseInt(document.getElementById("set2_ex3_reps").value);
		const ex3Set3Reps = parseInt(document.getElementById("set3_ex3_reps").value); --}}