<section class="has-background-grey is-fullheight" style="height:100vh">
  <div class="date_holder"></div>


  welcome {{user.username}}<br>

  This is the homepage <br>
  <canvas id="myChart" style="width:100%;max-width:700px"></canvas>

  <button id="get_exercise" class="button is-normal is-responsive is-primary level-right">
    Exercise
  </button>
  
</section>



<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script>
  Array.prototype.max = function () {
    return Math.max.apply(null, this);
  };

  Array.prototype.min = function () {
    return Math.min.apply(null, this);
  };
  {{!-- const xyValues = {{{ jsonHelper chartData }}}; --}}

  const xDate = {{{ jsonHelper xDate }}};
  const yPower = {{{ jsonHelper yPower }}};


  console.log(xDate);
  console.log(yPower);


  new Chart("myChart", {
    type: "line",
    data: {
      labels: xDate,
      datasets: [{
        label: 'Line Chart',
        data: yPower,
        backgroundColor: 'rgba(0, 0, 0, 0)',
        borderColor: 'rgba(255, 99, 132, 1)',
        borderWidth: 1
      }]
    },
    options: {
      legend: { display: false },
      scales: {
        xAxes: [{ ticks: { min: 40, max: 160 } }],
        yAxes: [{ ticks: { min: yPower.min() - 100, max: yPower.max() + 100 } }],
      }
    }
  });






      let time = new Date().toLocaleDateString('en-us', {weekday:"long", year:"numeric", month:"short", day:"2-digit"});
      document.querySelector('.date_holder').textContent = time;

  document.querySelector('#get_exercise').addEventListener('click', (event) => {
        event.preventDefault();
      window.location.replace('/exercise');
   });

</script>