{{!-- <section class="hero has-background-grey is-fullheight"> --}}
    This is the homepage
{{!-- </section> --}}

<script>
const data = {{{ jsonHelper chartData }}};

console.log(data);

const chart = new Chart(data);

</script>